<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Alunos Tab -->
  <ion-tab title="Alunos" icon-off="ion-person-add" icon-on="ion-person-add" href="#/tab/alunos">
    <ion-nav-view name="tab-alunos"></ion-nav-view>
  </ion-tab>

  <!-- Resultados Tab -->
  <ion-tab title="Resultados" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tab/resultados">
    <ion-nav-view name="tab-resultados"></ion-nav-view>
  </ion-tab>

  <!-- Filtros Tab -->
  <ion-tab title="Filtros" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/filtros">
    <ion-nav-view name="tab-filtros"></ion-nav-view>
  </ion-tab>

</ion-tabs>